.fz14 {
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    text-align: justify;
}
.fzu14 {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #fff;
}
.fz18 {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-align: justify;
}
.fzu18 {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
}
.fz24 {
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    text-align: justify;
}
.fzu24 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
}
.fz30 {
    font-size: 30px;
    line-height: 38px;
    color: #fff;
    text-align: justify;
}
.fzu30 {
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
    color: #fff;
}
.fz40 {
    font-size: 40px;
    line-height: 50px;
    color: #fff;
    text-align: justify;
}
.fzu40 {
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #fff;
}