@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Martian+Mono:wght@500;800&family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import 'base/variables';
@import 'base/fonts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Martian Mono', monospace;
    font-family: 'Playfair Display', serif;
}

html, body {
    background-color: $shadow;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.btn {
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-image: linear-gradient(135deg, #212ca1 0%, #218ca7 100%);
    box-shadow:
    rgba(45, 35, 66, 0.2) 0 2px 2px,
    rgba(45, 35, 66, 0.15) 0 7px 13px -3px,
    #218ca7 0 -1px 0 inset;
    outline: none;
    cursor: pointer;
    border: none;
    transition: box-shadow 0.15s, transform 0.15s;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    &:focus {
        box-shadow:
        #218ca7 0 0 0 1.5px inset,
          rgba(45, 35, 66, 0.4) 0 2px 4px,
          rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
          #218ca7 0 -3px 0 inset;
    }
    &:hover {
        box-shadow:
          rgba(45, 35, 66, 0.3) 0 4px 8px,
          rgba(45, 35, 66, 0.2) 0 7px 13px -3px,
          #218ca7 0 -3px 0 inset;
        transform: translateY(-2px);
    } 
    &:active {
        box-shadow: #218ca7 0 3px 7px inset;
        transform: translateY(2px);
    }
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.divider {
    margin-top: 15px;
    height: 2px;
    background-color: #fff;
    width: 10%;
}

.title {
    &-block {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
}

@import 'blocks/sidebar';
@import 'blocks/navbar';
@import 'blocks/showcase';
@import 'blocks/services';
@import 'blocks/order';
@import 'blocks/reviews';
@import 'blocks/coffee';
@import 'blocks/footer';
@import 'blocks/media';