.services {
    padding-bottom: 50px;
    &__container {
        display: flex;
        flex-direction: column;
    }
    &__layout {
        margin-top: 100px;
        display: grid;
        grid-template: 1fr / repeat(3, 1fr);
        gap: 30px;
    }
    &__card {
        display: grid;
        grid-template: repeat(2, 1fr) / 1fr;
        gap: 30px;
    }
    &__img {
        height: 300px;
    }
    &__block {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__subtitle {
        color: $red;
    }
}